<a href="https://colab.research.google.com/github/leslie-zi-pan/pandas/blob/main/Pandas_Create%2C_read%2C_write.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - Creating, Reading, and Writing
https://www.kaggle.com/code/residentmario/creating-reading-and-writing/tutorial

In [1]:
import pandas as pd

## Dataframe

A dataframe is a table, containing array of individual entries, each with an element value. Each entry/element corresponds to a row and column.

Each entry can contain an object. 

You can add indexes using the index param. 

These are normally generated using a dictionary, but can also imported using various other formats including json and csv.

In [17]:
starting_five_df = pd.DataFrame({
    'lakers': ['lebron james', 'davis', 'maclung', 'anthony', 'westbrook'],
    'bulls': ['caruso', 'lavine', 'ball',  'derozan', 'vucevic'],
    'hornets': ['ball', 'rozier', 'washington', 'bridges', 'plumlee']
}, index=['pg', 'sg', 'sf', 'pf', 'c'])

starting_five_df

TypeError: ignored

## Series

A series is a sequence of data values. You can think of this as a list of data values.

In [18]:
playoff_champions_df = pd.Series([
                                  'Milwaukee Bucks',
                                  'Los Angeles Lakers',
                                  'Toronto Raptors',
                                  'Golden State Warriors',
                                  'Golden State Warriors',
                                  'Cleveland Cavaliers',
                                  'Golden State Warriors',
                                  'San Antonio Spurs',
                                  'Miami Heat',
                                  'Miami Heat',
                                  'Dallas Mavericks',
                                  'Los Angeles Lakers'
], index=[
          2021,
          2020,
          2019,
          2018,
          2017,
          2016,
          2015,
          2014,
          2013,
          2012,
          2011,
          2010,
], name='NBA Champions')

playoff_champions_df

2021          Milwaukee Bucks
2020       Los Angeles Lakers
2019          Toronto Raptors
2018    Golden State Warriors
2017    Golden State Warriors
2016      Cleveland Cavaliers
2015    Golden State Warriors
2014        San Antonio Spurs
2013               Miami Heat
2012               Miami Heat
2011         Dallas Mavericks
2010       Los Angeles Lakers
Name: NBA Champions, dtype: object

# Reading data

In [11]:
# Lets create a csv to read from 
import csv 

header = ['name', 'area', 'country_code2', 'country_code3']
data = [
    ['Albania', 28748, 'AL', 'ALB'],
    ['Algeria', 2381741, 'DZ', 'DZA'],
    ['American Samoa', 199, 'AS', 'ASM'],
    ['Andorra', 468, 'AD', 'AND'],
    ['Angola', 1246700, 'AO', 'AGO']
]

with open('countries.csv', 'w', encoding='UTF8', newline='') as f:
    writer = csv.writer(f)

    # write the header
    writer.writerow(header)

    # write multiple rows
    writer.writerows(data)

In [12]:
# Read from the csv file
countries_df = pd.read_csv('countries.csv')
countries_df

             name     area country_code2 country_code3
0         Albania    28748            AL           ALB
1         Algeria  2381741            DZ           DZA
2  American Samoa      199            AS           ASM
3         Andorra      468            AD           AND
4          Angola  1246700            AO           AGO

We can use df.shape to view the shape of the dataframe data

In [14]:
# Use df.shape to view the shape of the dataframe
countries_df.shape

(5, 4)

df.head() can be used to view the first five rows of the data

In [15]:
countries_df.head()

             name     area country_code2 country_code3
0         Albania    28748            AL           ALB
1         Algeria  2381741            DZ           DZA
2  American Samoa      199            AS           ASM
3         Andorra      468            AD           AND
4          Angola  1246700            AO           AGO

We can index using come sort of identity. In this case, lets index by the name.

In [16]:
countries_df_indexed = pd.read_csv('countries.csv', index_col=0)
countries_df_indexed

                   area country_code2 country_code3
name
Albania           28748            AL           ALB
Algeria         2381741            DZ           DZA
American Samoa      199            AS           ASM
Andorra             468            AD           AND
Angola          1246700            AO           AGO